PORT=3003
DATABASE_URL=postgresql://ledger_admin:ledger_password@localhost:5432/jledger_db?schema=auth_schema
JWT_ACCESS_SECRET=jledger-local-dev-jwt-secret
JWT_REFRESH_SECRET=jledger-local-dev-refresh-secret
JLEDGER_REDIS_ADDRESS=redis://localhost:6379
JLEDGER_REDIS_PASSWORD=redis_password
KYC_ENCRYPTION_KEY=your_kyc_encryption_key_32_bytes
NODE_ENV=development
