PORT=3003
DATABASE_URL=postgresql://postgres:password@postgres:5432/auth_db
JWT_ACCESS_SECRET=jledger-local-dev-jwt-secret
JWT_REFRESH_SECRET=jledger-local-dev-refresh-secret
JLEDGER_REDIS_ADDRESS=redis://localhost:6379
JLEDGER_REDIS_PASSWORD=
NODE_ENV=development
