apiVersion: v1
kind: Secret
metadata:
  name: jledger-secrets
type: Opaque
stringData:
  DB_USER: "ledger_admin"
  DB_PASSWORD: "ledger_password"
  REDIS_PASSWORD: "redis_password"
  ADMIN_EMAIL: "admin@jledger.io"
  ADMIN_PASSWORD: "password123"
