PORT=3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/jledger_db
JWT_ACCESS_SECRET=your-jwt-access-secret
JWT_REFRESH_SECRET=your-jwt-refresh-secret
REDIS_ADDRESS=redis://localhost:6379
REDIS_PASSWORD=
FINANCE_SERVICE_URL=http://localhost:8081
